*.gem
*.rbc
.bundle
.config
InstalledFiles
coverage
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
topology.png
/vendor/

# YARD artifacts
.yardoc
_yardoc
doc/

.vscode
.rufo
.tags
lib/test/mini_Test.rb
test/test.json
bin/bundle
lib/test/.edges
.edges
